@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shop-primary: 34 91% 58%; /* Hex #f49d37 to HSL */
    --shop-crimson: 353 72% 50%; /* Hex #d72638 to HSL */
    --shop-red: 0 88% 55%; /* Hex #f22b29 to HSL */
    --shop-dark-purple: 249 46% 12%; /* Hex #140f2d to HSL */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    font-family: Catamaran, sans-serif;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .navLink {
    @apply w-full tracking-wide text-[#333]  transition-all duration-200  ease-linear hover:bg-black/80 hover:text-white hover:font-semibold  p-1 px-2 font-medium;
  }
  .desktop_navlink {
    @apply font-semibold hover:-translate-y-1 hover:text-[#F5A132] duration-300  transition-all ease-in-out text-xl text-[#d4d4d4] capitalize;
  }
  .desktop_navlink_active {
    @apply font-semibold scale-105 text-[#F5A132] duration-300  transition-all ease-in-out capitalize text-xl;
  }

  .activeNav {
    @apply bg-[#0F0F0F] text-white  font-semibold transition-all duration-300 ease-in-out transform scale-105;
  }
}

@layer utilities {
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }
  .img-shadow2 {
    filter: drop-shadow(40px 35px 35px #3030307a);
  }
}
